* {
  margin: 0;
  padding: 0;
}
#productType {
  width: 30%;
  display: flex;
  list-style: none;
}

#productType li {
  width: 20%;
}

button {
  background-color: rgb(223, 169, 69);
  width: 100%;
  height: 80px;
  border: none;
}

#menuListOrder {
  display: flex;
}

#menuList {
  width: 80%;
  display: flex;
}

.list {
  height: auto;
  width: 100%;
}

.eachItem {
  text-align: center;
  flex: 1;
}
/* #orderList {
  width: 20%;
} */

#totalPrice {
  display: flex;
  justify-content: space-between;
}
#totalPrice div {
  font-weight: 600;
}

#orderProductInfo {
  display: flex;
  justify-content: space-around;
}

#subtracItem {
  width: 1rem;
  height: 1rem;
}

@media (max-width: 800px) {
  #menuList {
    flex-direction: column;
  }
  .list {
    width: 100px;
    height: 80px;
  }
}

.orderItem {
  list-style: none;
}

.orderItem span {
  padding-right: 15px;
  padding-left: 15px;
}

/* img{
  width: 300px;
  height: 280px;
} */
